################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

*.config
*.v2
*.vsidx
*.suo
*.json
*.bin
*.sqlite
/.vs/VSWorkspaceState.json
*.dll
*.exe
*.pdb
*.props
*.Up2Date
/MuhammadjonIslomovKt-41-21/obj/Debug/net6.0/MuhammadjonIslomovKt-41-21.AssemblyInfo.cs
/MuhammadjonIslomovKt-41-21/obj/Debug/net6.0/MuhammadjonIslomovKt-41-21.AssemblyInfoInputs.cache
/MuhammadjonIslomovKt-41-21/obj/Debug/net6.0/MuhammadjonIslomovKt-41-21.assets.cache
/MuhammadjonIslomovKt-41-21/obj/Debug/net6.0/MuhammadjonIslomovKt-41-21.csproj.AssemblyReference.cache
*.BuildWithSkipAnalyzers
*.cache
*.txt
/MuhammadjonIslomovKt-41-21/obj/Debug/net6.0/MuhammadjonIslomovKt-41-21.GeneratedMSBuildEditorConfig.editorconfig
*.cs
/MuhammadjonIslomovKt-41-21/obj/MuhammadjonIslomovKt-41-21.csproj.nuget.dgspec.json
/MuhammadjonIslomovKt-41-21/obj/project.assets.json
/MuhammadjonIslomovKt-41-21/obj/project.nuget.cache
/MuhammadjonIslomovKt-41-21/MuhammadjonIslomovKt-41-21.csproj
*.user
